.planet {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    
    /* width: auto;
    height: 100%;
    margin-left: -50px; */

    /* background-color: aqua; */
    /* margin: 5px; */
}