body {
    background-color: black;
    color: white;
    text-align: center;
}

.planet {
    display: inline-block;
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    padding: 0% 5%;
}

.singlePlanet {
    float: left;
    text-align: center;
}

#planets {
    display: inline-block;
}

.container, #planets, #stats, #numberGoal {
    margin: 2% 0%;
}

p#score {
    padding-top: 4%;
}

.clearfix{
    content: " ";
    display: block;
    clear: both;
}

header {
    font-family: 'Audiowide', cursive;
    padding-bottom: 2%;
    font-size: 200%;
    color: aqua;
}

#instructions, li, #reach, #score {
    font-family: 'Fugaz One', cursive;
    color: antiquewhite
}

#reach {
    margin-top: 2%;
    margin-bottom: -1.5%;
}

#totalScore, #numberGoal {
    font-family: 'Knewave', cursive;
}

#wins, #losses, #status {
    font-family: 'Berkshire Swash', cursive;
    font-size: 120%;
    color: cyan;
}

#status {
    font-size: 200%;
    color: deepskyblue;
    margin-top: 5%;
}
#footer { 
    position: absolute; 
    left: 0; right: 0; bottom: 1%; 
    font-size: 65%;
}
a {
    color: cyan;
}
/*
    To Do:
        Add font styling
        Add custom js/css interactive background
        style win/loss prompt and game title
*/
