body {
    background-color: black;
    color: white;
}

.planet {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 1%;
}

.container {
    text-align: center;
}

.container, #planets, #stats, #numberGoal {
    margin: 4% 0%;
}

/*
    To Do:
        Add planet names under/above each
        Add font styling
        Add custom js/css interactive background
        style win/loss prompt and game title
*/
